:root {
  --text-color: #fff;
  --background-color-paragraph: rgba(0, 0, 0, 0.6);
  --height-page: 100vh;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url("image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: var(--height-page);
  /* overflow: hidden; */
}

/* Upper Part */
section {
  height: 65%;
}

.first {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
}
.shit {
  display: flex;
  align-items: flex-start !important;
}
.row {
  padding-top: 1rem;
  gap: 1rem;
}

/* Left Side */
.left {
  display: flex;
  flex-direction: column;

  color: var(--text-color);
  border-radius: 5%;
  width: 20rem !important;
  /* background-color: var(--background-color-paragraph); */
}
.location {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 100;
}
.time {
  font-size: 3rem;
  font-weight: 100;
}
.pm {
  font-size: 1.5rem;
  font-weight: 100;
  /* align-self: flex-end; */
}
#iconUp {
  height: 4rem;
}
.iconDown {
  height: 4rem;
}

.date {
  font-size: 1.5rem;
  font-weight: 100;
}
.temperature {
  display: flex;
  font-size: 2.2rem;
  justify-content: center;
  align-items: center;
}

.container-details {
  display: flex;
  gap: 1.5rem;
}
p {
  margin-bottom: 0.5rem !important;
}
.time,
.date,
.location {
  margin-bottom: 0rem !important;
  color: black;
  display: flex;
  justify-content: center;
}
.another-container {
  background-color: var(--background-color-paragraph);
  padding: 1rem;
  border-radius: 6%;
  width: 20rem;
}

/* CENTER */
.me-2,
.btn-outline-success {
  height: 3rem;
}
.search-button {
  background-color: transparent !important;
  color: black !important;
  border: 2px solid white !important;
  transition: all 0.3s ease !important;
}

.search-button:hover {
  background-color: white !important;
  color: black !important;
}

/* Down Part */
footer {
  background-color: var(--background-color-paragraph);
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-row {
  height: 35vh;
  color: var(--text-color);
  padding-bottom: 1rem;
}

.days {
  border: 1px solid var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 13rem;
  border-radius: 5%;
  font-weight: 700;
  width: 10rem;
}
.day {
  display: flex;
  justify-content: center;
  width: 5rem;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  border-radius: 10%;
  background-color: rgb(87, 87, 87);
}

img {
  height: 4rem;
}

@media (max-width: 992px) {
  .days {
    width: 14rem !important;
  }
  .footer-row {
    overflow: scroll;
  }
}
@media (max-width: 450px) {
  .days {
    width: 7rem !important;
  }
  .footer-row {
    overflow: scroll;
  }
}
@media (max-height: 700px) {
  .location {
    font-size: 1.5rem;
  }

  .time {
    font-size: 2rem;
  }
  .pm {
    font-size: 1rem;
  }

  .date {
    font-size: 1rem;
    font-weight: 100;
  }
  .temperature {
    font-size: 1.5rem;
  }

  .container-details {
    gap: 1rem;
  }
  .another-container {
    padding: 1rem;
  }
  img {
    height: 4.5rem;
  }
  .footer-row {
    overflow: scroll;
  }
}

@media (min-height: 1300px) {
  .footer-row {
    overflow: scroll;
  }
  .location {
    font-size: 3.5rem;
  }

  .time {
    font-size: 4rem;
  }
  .pm {
    font-size: 2rem;
  }

  .date {
    font-size: 2.5rem;
  }
  .temperature {
    font-size: 3rem;
  }

  .container-details {
    gap: 3rem;
  }
  .another-container {
    padding: 3rem;
  }
  img {
    height: 7rem;
  }
}
